.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Customizing the datepicker buttons */
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
    background-color: #4a2e2a !important;
    color: #f2e3c6 !important;
}

.react-datepicker__header {
    background-color: #4a2e2a !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #f2e3c6 !important;
}

.react-datepicker__day--today {
    font-weight: bold;
    color: #4a2e2a !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    border-color: #f2e3c6 !important;
}

.react-datepicker__today-button {
    background-color: #4a2e2a !important;
    color: #f2e3c6 !important;
}

.react-datepicker__close-icon::after {
    background-color: #4a2e2a !important;
    color: #f2e3c6 !important;
}
